<ion-header>
  <ion-toolbar>
    <div class="ion-text-center"><ion-title color="tertiary">Galway Gyms</ion-title></div>
    <br>
    <br>
    <ion-back-button></ion-back-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-img  width="200" height="150"
  src="https://images.squarespace-cdn.com/content/v1/57c9edba2994ca8c81a1a8f1/1602879168856-X45ZG37OSAG036099F6H/ke17ZwdGBToddI8pDm48kILUiScjWBa5yeHIKamr5lxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyNcwI-XuO-cFTJ8glExmqPKk6BOv2v5yuxFIFTOJYYx3YecTNI22K9O3c-ODrCaWA/galway-ireland.jpg"></ion-img>
  <p class="ion-text-center">CrossFit Galway is a very high intensity gym for those who love to feel the burn.</p>
  <div class="ion-text-center"><ion-button (click)="CrossFit()">Cross Fit</ion-button></div>

  <p class="ion-text-center">ActiveFitness is Galway first 24 hour gym who offer a wide varity of fitness from Yoga to Boxercise.</p>
  <div class="ion-text-center"><ion-button (click)="ActiveFitness()">Active Fitness</ion-button></div>

  <p class="ion-text-center">Snap Fitness also open 24 hours tries to promote fitness based on health not building muscle mass or losing fat, but by getting the heart rate up and going.</p>
  <div class="ion-text-center"><ion-button (click)="SnapFitness()">Snap Fitness</ion-button></div>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>
