<ion-header>
  <ion-toolbar>
    <div class="ion-text-center"><ion-title color="tertiary">Start at Number One</ion-title></div>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-text-center">Start at number one even if it's small every lap, rep, or mile starts at One</h3>
  <h3 class="ion-text-center">Pick a date start at One don't be afraid to fail, just stay moving foward!!</h3>
<ion-datetime class="ion-text-center" placeholder="Save The Date" [max]="today"></ion-datetime>

<h3 class="ion-text-center">Figure out what suits you best to keep you in the best frame fitness wise</h3>
<div class="ion-text-center"><ion-button [routerLink]="['/four']">Specialty</ion-button></div>
</ion-content>
