<ion-header>
  <ion-toolbar>
    <div class="ion-text-center"><ion-title color="tertiary">Start at Number One</ion-title></div>
    <br>
    <br>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Start at number one even if it's small every lap, rep, or mile starts at One</p>
  <p class="ion-text-center">Pick a date start at One don't be afraid to fail, just stay moving foward!!</p>
<ion-datetime class="ion-text-center" placeholder="Save The Date" [max]="today"></ion-datetime>

<p class="ion-text-center">Figure out what suits you best to keep you in the best frame fitness wise</p>
<div class="ion-text-center"><ion-button [routerLink]="['/four']">Interest</ion-button></div>
<div class="ion-text-center"><ion-button [routerLink]="['/six']">Galway Gyms</ion-button></div>
</ion-content>
