<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">
      <div class="ion-text-center">Home Page</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://media.istockphoto.com/vectors/silhouette-running-man-sprinter-vector-id904210562?k=6&m=904210562&s=612x612&w=0&h=ruOXO7QjvTYuOvbdxSQPjFg-pW98k94OD_xhMMNh9FU="></ion-img>
  <p class="ion-text-center">Welcome to my App here's a small motto which the app is based around 'Healthy Body, Healthy Mind'</p>

  <div class="ion-text-center"><ion-button [routerLink]="['/three']">It Starts At One</ion-button></div>
  
  <div class="ion-text-center"><ion-button [routerLink]="['/two']">Inspiration</ion-button></div>

  <div class="ion-text-center"><ion-button [routerLink]="['/feedback']">Feedback</ion-button></div>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>


